
<div *ngIf="teamName=='main' ">
    <div class="Current">
        <div class="card" *ngIf="currEmp!=null">
            <div>Your Details</div>
            <div class="cardcontent" id="cardtitle">{{currEmp.id}}</div>
            <div class="cardcontent" id="cardname">{{currEmp.empName}}</div>
            <div class="cardcontent" id="cardname">{{currEmp.phoneNumber}}</div>
        </div>

        <div>
        <button class="button Add" (click)="openDialog()">Add</button>
        </div>
        
    </div>

    <div class="row">
        <div class="col-4 display" *ngFor="let emp of getEmp">
            <div class="card" *ngIf="emp!=currEmp">
                <div class="cardcontent" id="cardtitle">{{emp.id}}</div>
                <div class="cardcontent" id="cardname">{{emp.empName}}</div>
                <div class="cardcontent" id="cardname">{{emp.phoneNumber}}</div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="teamName=='others'&& currEmp!=null"><br>
    <div class="card">
        <div >Your Details</div>
        <div class="cardcontent" id="cardtitle">{{currEmp.id}}</div>
        <div class="cardcontent" id="cardname">{{currEmp.empName}}</div>
        <div class="cardcontent" id="cardname">{{currEmp.phoneNumber}}</div>
    </div>
</div>
